*{
  padding: 0;
  margin: 0;
  font-family: poppins;
  box-sizing: border-box;
}
body, p, h3,h5, h4, h6{
  font-family: poppins;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99;
  padding: 0.1rem;
  transition: all 0.3s ease;
  align-items: center;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
display: flex;
align-items: center;
}

.nav-links li {
  margin-left: 2rem;
  list-style-type: none;
}

.nav-links a {
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #0000ff;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #000000;
  transition: all 0.3s ease;
}

.btn-access{
  background-color: #0000ff;
  color: #fff;
  padding: 5px 15px;
  gap: 5px;
  display: flex;
  align-items: center;
}

.searching{
  gap: 10px;
  margin-top: 5px;
  align-items: center;
  padding-left: 70px;
}


.hero{
  background: linear-gradient(178.46deg, #000000 -17.8%, rgba(0, 0, 0, 0.6) 39.99%), url('../images/hero-bg.svg');
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat !important;
  position: relative;
  background-position: center;
  margin-bottom: 130px;

}

.hero-text{
  padding: 90px 0 50px 55px;
  color: #fff;
}

.hero-text h2{
  font-family: Poppins;
  font-weight: 600;
  line-height: 58px;
  margin-top: 20px;
  font-size: 45px;
  margin-bottom: 20px;
}

.hero-text p{
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 25px;
}


.btn-wrap{
  background-color: transparent;
  color: white; 
  border: 1.5px solid; 
  border-image: linear-gradient(100deg, #FFCA64, #0000ff) 1; 
  border-radius: 5px;
  padding: 6px 28px;
  font-size: 11px;
}


.btn-wrap,.btn-access, .mobile-box,.online-box, .banner, .childplay, .yoga, .yoga-one, .btn-account, .see-text{
  transition: transform 0.4s ease, box-shadow 0.4s ease; 
}

.btn-wrap:hover,.btn-access:hover, .mobile-box:hover, .online-box:hover, .banner:hover, .childplay:hover, .yoga:hover, .yoga-one:hover, .btn-account:hover, .see-text:hover{
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
}


.hero-img{
  position: absolute;
  top: 190px;
  width: 80px;
  left: 0;
}
.logo{
  position: absolute;
  top: 42px;
  width: 60px;
  right: 105px;
}

.card{
  position: absolute;
  width: 130px;
  height: 240px;
  padding: 15px;
  border-radius: 0%;
  right: 0;
  top: 80px;
}
.cash-section{
  box-shadow: 0px 4px 2px 0px #0000004D;
  width: 155px;
  align-items: center;
  text-align: center;
  height: 145px;
  border-bottom: 1px solid #000000;
  padding: 35px 30px 10px 30px;
  background-color: white;
  color: #000000;
    
}


.money-section .col > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f8f9fa;
  height: 100%;
}

.credit-section{
  box-shadow: 0px 4px 2px 0px #0000004D;
  width: 160px;
  align-items: center;
  text-align: center;
  height: 145px;
  border-bottom: 1px solid #000000;
  padding: 23px 0 0 0; 
  opacity: 0px;
  background-color: white;
  color: #000000;
}

.credit-section p{
  font-size: 11px;
}
.cash-section p{
  font-size: 12px;
  padding-top: 5px;
}

.withdraw-section p{
  font-size: 13px;
}

.withdraw-section{
  box-shadow: 0px 4px 2px 0px #0000004D;
  width: 160px;
  align-items: center;
  text-align: center;
  height: 145px;
  padding: 30px 30px 10px 30px;
  opacity: 0px;
  background-color: #0000ff;
  color: #fff;
  position: relative;
  border-radius: 5px;

}

.withdraw-section::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #0000ff;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -10;
  padding: 3px;

}

.money-section{
  position: absolute;
  bottom: -70px;
  margin-left: 60px;
} 

 .money-section {
  display: flex;
} 

.credit-section{
  background-color: #fff; 
  animation: boxAnimation 6s infinite; 
}

.withdraw-section{
  background-color: #fff; 
  animation: boxAnimation 6s infinite; 
}
.cash-section {
  background-color: #fff; 
  animation: boxAnimation 6s infinite; 
}

@keyframes boxAnimation {
  0% {
    transform: translate(0, 0) scale(1); 
    background-color: #fff; 
  }
  30% {
    transform: translate(20px, 20px) scale(0.8);
    background-color: #fff; 
  } 
  100% {
    transform: translate(0, 0) scale(1); 
    background-color: #fff; 
  }
}
.service{
  color: #0000ff;
  font-size: 13px;
  font-family: poppins;
}
.service-section{
  margin-top: 50px;
}

.row{
  padding: 0 70px 0 120px;
}

.mobile-box{
  box-shadow: 0px 4px 2px 0px #0000004D;
  width: 300px;
  align-items: center;
  text-align: center;
  height: 230px;
  border-bottom: 1px solid #000000;
  padding: 28px 30px 10px 30px;
  opacity: 0px;
  background-color: white;
  color: #000000;
}

.online-box{
  box-shadow: 0px 4px 2px 0px #0000004D;
  width: 300px;
  align-items: center;
  text-align: center;
  height: 230px;
  border-bottom: 1px solid #000000;
  padding: 28px 30px 10px 30px;
  opacity: 0px;
  background-color: #0000ff;
  color: #fff;
}

.mobile-box h5{
  padding-top: 15px;
  font-weight: 600;
}
.mobile-box p{
  padding-top: 18px;
  text-align: center;
}
.online-box h5{
  padding-top: 15px;
  font-weight: 600;
}
.online-box p{
  padding-top: 18px;
  text-align: center;
}

.two-face{
  background: linear-gradient(178.46deg, #000000 -17.8%, rgba(0, 0, 0, 0.6) 39.99%), url('../images/2-face-img.svg');
  background-size: cover;
  background-position: center;
  height: 480px;
}

.faced{
  margin-top: 60px;
}

.account-text{
  padding: 90px 40px 40px 90px;

}

.accent{
  font-size: 39px;
  font-weight: 600;
}

.button-group{
  flex-wrap: wrap;
}

.btn-account{
  font-size: 10px;
  border: none;
  height: 33px;
  padding: 0 24px;
  margin-top: 10px;
  align-items: center;
  background-color: #0000ff;
  color: #fff;

}

.sustain{
  background: linear-gradient(178.46deg, #000000 -17.8%, rgba(0, 0, 0, 0.6) 39.99%), url('../images/sustain-bg.svg');
  height: 500px;
  margin-top: 40px;
  background-repeat: no-repeat;
  position: relative;
}

.sustain-text{
  position: absolute;
  top: 200px;
  left: 660px;
  color: white;
}
.sustain-text h4{
  font-size: 30px;
}

.startups{
  position: absolute;
  top: 240px;
  left: 350px;
  font-size: 20px;
  text-align: center;
  color: white;
}

.banner{
  position: absolute;
  top: 320px;
  left: 590px;
  background-color: transparent;
  color: white; 
  border: 1.5px solid; 
  border-image: linear-gradient(100deg, #FFCA64, #0000ff) 1; 
  border-radius: 5px;
  padding: 6px 28px;
  font-size: 11px;
}

.sustain-section{
  background: linear-gradient(178.46deg, #000000 -17.8%, rgba(0, 0, 0, 0.6) 39.99%);
  height: 500px;
  margin-top: 200px;

}

.sustain {
  position: relative;
  animation: gradientAnimation 6s ease infinite;
}

.sustain-text{
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  } 
  
  .news{
    color: #0000ff;
    font-size: 13px;
  }  

  .news-section{
    margin-top: 90px;
  }

  .news-text{
    font-family: poppins;
    font-weight: 600;
  }

  .see-text{
    background-color: transparent;
    color: #000000; 
    border: 1.5px solid; 
    border-image: linear-gradient(100deg, #FFCA64, #0000ff) 1; 
    border-radius: 5px;
    padding: 3px 30px;
    font-size: 11px;
  }

  .see-content{
    margin-top: -40px;
    margin-right: 140px;
  }


  .childplay{
    background-image: url('../images/child-play-bg.svg');
    width: 280px;
    height: 240px;
    background-size: cover;
    border: 2px solid #F0F0F4;
    box-shadow: 0px 2px 0px 0px #0000004D;

  }

  .child-text{
    padding: 13px 5px;
    background-color: #0000ff;
    width: 55px;
    height: 68px;
    text-align: center;
    font-size: 8px;
    color: #fff;
  }

  .right-slide{
    background-color: transparent;
    color: #fff; 
    border-image: linear-gradient(100deg, #FFCA64, #0000ff) 1; 
    border: 1.5px solid #B4B1B1;  
    padding: 5px 15px;
    font-size: 11px;
    
  }
    
  .staycation{
    width: 280px;
    height: 158px;
    border: 2px solid #F0F0F4;
    background-color: #0000ff;
    margin-top: 145px;
    box-shadow: 0px 4px 2px 0px #0000004D;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 18px 30px 10px 30px; 
  }

  .staycation p{
    font-size: 9px;
    padding-top: 0px;
  }

  .yoga{
    background-image: url('../images/yoga-bg.svg');
    width: 280px;
    height: 240px;
    background-size: cover;
    border: 2px solid #F0F0F4;
    box-shadow: 0px 2px 0px 0px #0000004D;
  }

  .yoga-text{
    padding: 13px 5px;
    background-color: #0000ff;
    width: 55px;
    height: 68px;
    text-align: center;
    font-size: 8px;
    color: #fff;
  }

  .yoga-pose{
    width: 280px;
    height: 158px;
    border: 2px solid #F0F0F4;
    background-color: #fff;
    margin-top: 139px;
    box-shadow: 0px 4px 2px 0px #0000004D;
    align-items: center;
    text-align: center;
    color: #000000;
    padding: 20px 30px 10px 30px; 
  }

  .yoga-pose p{
    font-size: 9px;
    padding-top: 4px;
  }

  .yoga-one{
    background-image: url('../images/tailor-bg.svg');
    width: 280px;
    height: 230px;
    margin-bottom: 10px;
    background-size: cover;
    border: 2px solid #F0F0F4;
    box-shadow: 0px 2px 0px 0px #0000004D;
  }

  .fashion-pose{
    width: 280px;
    height: 160px;
    border: 2px solid #F0F0F4;
    background-color: #fff;
    margin-top: 134px;
    box-shadow: 0px 4px 2px 0px #0000004D;
    align-items: center;
    text-align: center;
    color: #000000;
    font-size: 12px;
    padding: 23px 30px 10px 30px;
  }

  .fashion-pose h5{
    font-size: 13px;
  }

  .fashion-pose p{
    font-size: 9px;
    padding-top: 8px;
  }

  .pose-btn{
    background-color: transparent;
    color: #000000; 
    border: 1.5px solid; 
    border-image: linear-gradient(100deg, #FFCA64, #0000ff) 1; 
    border-radius: 5px;
    margin-top: -90px;
    padding: 6px 23px;
    font-size: 10px;
    font-weight: 700;
  }

  .footer{
    background: #0000ff;
    width: 100%;
    padding: 10px 0;
    bottom: 0;
    position: relative;
    margin-top: 60px;
  }

  .footer-section{
    height: 240px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .app-btn{
    padding: 4px 23px;
    padding-left: 10px;
    width: 196px;
  }

  .store-button{
    margin-bottom: 40px;
    width: 100%;
  }

  .button-img{
    width: 165px;
    height: 220px;
    border: none;
    border-radius: 0;
    margin-top: -90px;
  }

  .footer-text{
    margin-top: 30px;
  }

  .footer-text img, p{
    margin-bottom: 30px;
  }
  .footer-text p{
    line-height: 20px;
  }

  .footer-list{
    gap: 20px;
    line-height: 40px;
    margin-top: 15px;
  }

  .service-list{
    gap: 20px;
    line-height: 40px;
    margin-top: 15px;
  }

  .app{
    margin-top: 63px;
    margin-left: 50px;
  }

.login-btn{
  padding: 7px 24px;
  background-color: #0000ff;
  color: #fff;
  margin-left: 20px;
  border-radius: 2px;
}


/* Mobile styles for screens up to 600px wide */
@media only screen and (max-width: 600px) {
  .navbar {
    padding: 1rem 0;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-links {   
    color: #0000ff;
    position: fixed;
    top: 68px;
    right: -285px;
    height: 100vh;
    width: 240px;
    z-index: 99;
    background-color: hsla(0, 19%, 95%, 0.943);
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: right 1.5s ease-in-out;
  }

  .searching{
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 60px;
  }
  .btn-access{
    padding: 3px 20px;
    font-size: 5px;
  }

  .nav-links a{
    color: #000000;
    font-size: 18px;
    margin-top: 10px;
  }

  .nav-links.active {
   right: 0;
   transition: right 1.5s ease-in-out;
  }

  .nav-links li {
    margin: 1rem 0;
  }

  .hero {
    height: 100vh;
    padding: 40px 20px;
    margin-bottom: 100px;
    background-size: cover;
  }

  .hero-text{
    padding: 0;
    margin-top: 30px;
    text-align: center;
  }

  .hero-text h2 {
    font-size: 35px;
    line-height: 40px;
  }

  .hero-text p {
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    
  }

 .hero-img{
  position: absolute;
  top: 100px;
  width: 53px;
 }

 .logo{
  position: absolute;
  top: 360px;
  left: 65px;
 }

  .card {
    position: static;
    width: 50%;
    height: 230px;
    margin-top: 30px;
    margin-left: 80px;
  }

  .money-section {
    position: absolute;
    justify-content: center;
    bottom: -320px;
    right: 90px;
    text-align: center;
    display: flex;
  }

  .cash-section, .withdraw-section, .credit-section {
    width: 45%;
    margin: 10px;
    padding-left: 30px;
  }

  .row {
    padding: 0 20px;
  }

  .best{
    margin-top: 330px;
  }

  .see-text{
    margin-top: 30px;
    margin-right: -10px;
  }

  .mobile-box, .online-box {
    width: 100%;
    margin-bottom: 20px;
    height: 250px;
    
  }

  .sustain-section{
    margin-top: 20px;
  }

  .money-section .col > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f8f9fa;
    height: 80%;
    margin-right: 26px;
    padding: 25px 80px 10px 65px;
  }

  .two-face {
  min-height: auto;
 }

  .account-text {
    padding: 40px 20px;
  }

  .accent {
    font-size: 19px;
    font-weight: 500;
    justify-content: center;
    display: flex;
    
  }

  .account-text p {
    font-size: 12px !important;
    width: 300px;
    padding: 10px;
    margin-left: 18px;
    height: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: justify;
  
  }

  .button-group {
    flex-direction: column;
    align-items: center;
    
  }

  .btn-wrap,
  .btn-account {
    width: 50%;
    margin-top: 10px;
  }


  .sustain {
    height: 490px;
    padding: 40px 90px;
  }

  .sustain-text{
    position: absolute;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 5px;
    left: 180px;
    top: 120px;

  }

  .startups{
    position: absolute;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 5px;
    left: 10px;
    top: 200px;
  }

  .banner{
    position: absolute;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 5px;
    left: 120px;
    top: 300px;
  }

  .startups p{
    font-size: 14px;
  }

  .childplay, .yoga, .yoga-one {
    width: 100%;
    margin-bottom: 130px;
  }

  .staycation, .yoga-pose, .fashion-pose {
    width: 100%;
  }

  .footer-section {
    flex-direction: column;
    height: auto;
    padding-left: 30px;
  }

  .footer-text, .footer-list, .service-list, .app {
    padding: 20px;
    margin-top: 0;
    font-size: 15px;

  }
  .footer-text p{
    font-size: 17px;
    line-height: 29px;
  }

  .footer-text div{
    padding-left: 6px;
  }
  .footer-list h4{
    font-size: 22px;
  }

  .service-list h4{
    font-size: 22px;
  }

  .app{
    margin-left: 15px;
  }
  

  .store-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 60px;
  }


  .store-buttons a {
    margin-bottom: 10px;
  }
  .app-btn{
    width: 225px;
    padding-left: 20px;
  }

  .private h6{
    margin-left: 10px;
    gap: 50px;
    font-size: 12px;
  }
  .bank h6{
    margin-left: 10px;
    font-size: 16px;
    margin-bottom: 13px;
  }
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px)  {
  .navbar-nav {
    padding-right: 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
    position: absolute;
    z-index: 50;
    background-color: #eeed;
    backdrop-filter: blur(10px);
    width: 80vw;
    border-radius: 20px;
    padding: 0 0 20px 0;
  }

  .nav-box{
    position: relative;
    z-index: 20;
    top: 0;
    width: 96vw;
    padding: 0 0 20px 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: box-shadow 0.4s ease;  

  }

  .searching {
  margin-top: 0;
  }
    
  
  .hero {
  flex-direction: row;
  align-items: center;
  }
    
  .hero-text {
    text-align: left;
    font-size: 14px;
    margin-left: 0;
  }
    
  .hero-img {
    max-width: 50%;
    height: auto;
  }
    
  .money-section {
    justify-content: flex-start;
    margin-left: -100px;
  }
    
  .service-section .row {
    display: flex;
    width: 118%;
    margin-left: -100px;
  }
    
  .service-section .col-lg-4 {
    width: 50%;
    padding: 0 15px;
    gap: 10px;
  }
    
  .mobile-box img {
    width: 80px;

  }
    

  .two-face {
    padding: 3rem;
  }
      
  .account-text {
    text-align: left;
  }
      
  .button-group {
    justify-content: flex-start;
  }


      

  .news-section .row {
    display: flex;
    flex-wrap: wrap;
  }
      
  .news-section .col-lg-4 {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 2rem;
  }

  .sustain-text, .startups, .banner{
    text-align: center;
    margin-left: -280px;
  }
      
  .sustain-text h4 {
    font-size: 26px;
    font-weight: 600;
  }
    
  .footer-section {
    padding-right: 80px;
  }

  .footer{
    padding-right: 190px;
  }

  .store-buttons{
    margin-top: -27px;
    display: grid; 
  }

  .app{
    padding-bottom: -140px;
  }
  .mobile-box{
    margin-top: 30px;
  }

  .childplay, .yoga-one {
    margin-left: -60px;
  }

  .see-text{
    margin-top: 30px;
    margin-right: 10px;
  }
    
  .yoga-one {
    margin-top: 100px;
  }

}





 